@CHARSET "UTF-8";

body {
	width: 750px;
	background-color: #FFFFFF;
}



.center {
    margin-left: auto;
    margin-right: auto;
}



.headerDiv {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 25px;
	padding: 5px;
	font-family: "Helvetica Neue" ,"Verdana";
	font-size: 20px;
	font-weight: 0;
	text-shadow: #808080 0px 0px 0px;
	background-color: #FAFAFA;
	color: #808080;
	border-bottom: 1px solid #D4D4D4;
	
	/*color: #FFFFFF;
	background: -webkit-linear-gradient(bottom right, #81BEF7, #0174DF);
	background: -o-linear-gradient(bottom right, #81BEF7, #0174DF);
	background: -moz-linear-gradient(bottom right, #81BEF7, #0174DF);
	background: linear-gradient(bottom right, #81BEF7, #0174DF); 
	background-image: -ms-linear-gradient(bottom right, #81BEF7 0%, #0174DF 100%);
	
	color: #FFFFFF;
	background: -webkit-linear-gradient(#424242, #0B173B);
	background: -o-linear-gradient(#424242, #0B173B);
	background: -moz-linear-gradient(#424242, #0B173B);
	background: linear-gradient(#424242, #0B173B); 
	background-image: -ms-linear-gradient(#424242 0%, #0B173B 100%);
	*/
	
}



div#mainDiv {
	position: absolute;
	top: 40px;
	width: 750px;
	height: 580px;
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
}



div#toolbarsDiv {
	position: absolute;
	top: 550px;
	left: 150px;
	width: 750px;
	padding: 0px;
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
}



div#textAreaDiv {
	position: absolute;
	top: 0px;
    width: 100%;
	height: 250px;
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
}



.keyMapTableDiv {
	top: 265px;
	height: 280px;
	width: 70%;
	position: relative;
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
}



.keyMapTable {
	width: 90%;
	height: 100%;
	color: #202955;
	padding: 1px;
	border-spacing: 3px;
	border: 1px solid #FFFFFF;
}



.mainTextareaSinhala {
	font-size: 14px;
	font-family: "Iskoola Pota" ,"Verdana";
	resize: none;
	background-color: #FFFFFF;
	color: #000000;
}



.buttonText {
	font-family: "Helvetica Neue" ,"Verdana";
	font-size: 12px;
	font-weight: bold;
	padding: 5px 5px;
	color: #202955;
	border:1px solid #FFFFFF;
	border-radius:3px;
	background-color: #FFFFFF;
	cursor: pointer;
}



.buttonText:hover {
	background-color:#EFF5FB;
	border:1px solid #81BEF7;
}



.sinhalaButton {
	border:1px solid #FAFAFA;
	font-size: 18px;
	font-family: "Helvetica Neue" ,"Verdana";
	text-align:center;
	border:1px solid #D4D4D4;
	border-radius: 3px;
	padding: 2px;
	background: -webkit-linear-gradient(bottom right, #D4D4D4, #FAFAFA); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #D4D4D4, #FAFAFA); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #D4D4D4, #FAFAFA); /* For Firefox 3.6 to 15 */
	background: linear-gradient(bottom right, #D4D4D4, #FAFAFA); /* Standard syntax */
	background-image: -ms-linear-gradient(bottom right, #D4D4D4 0%, #FAFAFA 100%); /* IE */
}



.sinhalaButton:hover {
	background-color:#EFF5FB;
	border:1px solid #81BEF7;
	cursor:pointer;
}



.helpKeyMap {
	top: 35px;
	width: 100%;
	position: absolute;
	font-size: 12px;
	font-family: "Helvetica Neue" ,"Verdana";
	color: #202955;
	padding: 2px;
	border-spacing: 1px;
}



.helpKeyMapTable {
	width: 60%;
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
}




caption {
	font-family: "Helvetica Neue" ,"Verdana";
	font-size: 10px;
}



footer {
	position: absolute;
	font-family: "Helvetica Neue" ,"Verdana";
	font-size: 10px;
	font-weight: bold;
	color: #808080;;
	text-align: center;
	vertical-align: middle;
}



.errorMsg {
	font-family: "Helvetica Neue" ,"Verdana";
	font-size: 12px;
	font-weight: bold;
	color: red;
	border: 1px solid #D4D4D4;
	background-color: #FAFAFA;
	box-shadow: 15px 15px 15px #888888;
	border-radius:3px;
	padding:6px 10px;
	text-align:center;
}



div#helpToolbarDiv {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 750px;
	padding: 0px;
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
}




.suggestionsHolder {
	position: absolute;
	top: 0px;
	left: 475px;
	width: 190px;
	height: 300px;
	padding: 10px;
	border: 1px solid #FFFFFF;
}



.suggestionsTable {
	width: 170px;
	font-size: 12px;
	font-family: "Helvetica Neue" ,"Verdana";
	color: #202955;
	padding: 2px;
	border-spacing: 2px;
}



.delSuggestion {
	position: relative;
	left: -10;
	top: -10px;
	width: 5px;
	height: 5px;
	font-size: 10px;
	font-weight: 900;
	border: 1px solid #D4D4D4;
	border-radius: 20px;
	background-color: #FAFAFA;
}



.delSuggestion:hover {
	border: 1px solid #81BEF7;
	cursor: pointer;
	background-color: #EFF5FB;
}


div#debugAreaDiv {
	top: 260px;
	height: 300px;
	width: 65%;
	position: absolute;
}



